@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: #EFBE7D;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.btn-expand {
    border: none;
    background-color: #D76B00;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.btn-expand:hover {
    background-color: #EFBE7D;
    color: #D76B00;
    font-weight: 700;
    letter-spacing: 3px;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    
}

.btn-normal {
    background-color: #E7E7E7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12%;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.btn-normal:hover {
    background-color: #a3a3a3;
}