{% extends 'sspizza/main.html' %}

{% block content %}
<h1 style="text-align:center">MENU</h1>

<button class="btn-expand"><a href="{% url 'sspizza:create_order' %}">Make your own Pizza</a></button>
<hr>
<section class="basic-grid">
    {% for item in menu %}
    <div class="card">
        <img src="{{ item.food_pic.url }}" alt="menu item" style="width: 100%;">
        <div class="container">
            <h2>{{ item.name }}</h2><br>
            <small style="color: #472600;">{{ item.description }}</small>
            <h4>Rs. {{ item.price }}</h4>
            <button class="btn-normal"><a href="{% url 'sspizza:order_menu' item.id %}">ORDER!</a></button>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}